* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.add {
    width: 28px;
    box-sizing: border-box;
}
.task-edit {
    width: 28px;
    box-sizing: border-box;
}
.button {
    
}
.img {
    width: 22px;
}

.edit {

}
.delete {

}
.header {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
}

.task-add {
    margin: 8px;
    padding: 8px;
    cursor: pointer;
}

.tasks {
    display: flex;
    flex-wrap: wrap;
}

.task {
    background-color: bisque;
    width: 300px;
    min-height: 200px;
    margin: 10px;
    padding: 15px;
    box-shadow: 2px 2px 5px 2px #cacaca;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task-actions {

}

.task-edit {
   
}

.task-delete {

}
.hidden {
    display: none;
}